/*  Conntect me  */

.grid_content{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.flex_content{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 1.25rem;
}

.grid_content li ,
.flex_content li{
    cursor: pointer;
    text-align: center;
    color: rgb(95, 116, 157);
    transition: .3s;
}

.grid_content li:hover,
.flex_content li:hover{
    color: rgb(8, 43, 88);
}

:is(.dark .flex_content li ),
:is(.dark .grid_content li ){
    color: rgb(155, 170, 190);
}
:is(.dark .flex_content li:hover ),
:is(.dark .grid_content li:hover ){
    color: rgb(184, 181, 11);
}

@media screen and (max-width: 576px) {
    .grid_content{
        display: flex;
        justify-content: space-around;
    }
    .grid_content li{
        transform: scale(.7);
    }

}
