
.Description-1{
    @apply relative overflow-hidden max-h-20 pb-6 text-lg text-gray-600 dark:text-slate-400
}

.Description-2{
    @apply absolute top-0 left-0 w-full h-full p-4 pb-10 bg-gray-200 dark:bg-slate-700 dark:text-slate-400 ;
    animation: .3s read-more-des forwards;

}

@keyframes read-more-des {
    from{
        height: 0;
        transform: translateY(-3rem);
    }
    to{
        transform: translateY(0);
        height: 100%;
    }
}
.Description-1 span,
.Description-2 span{
    background-color: #e5e8eb3f;
    color: rgb(212, 5, 5);
    position: absolute;
    backdrop-filter: blur(2px);
    padding-inline: .5rem;
    font-size: .9rem;
    cursor: pointer;
}
.Description-1 span{
    bottom: -.25rem;
    left: 0;
}
.Description-2 span{
    bottom: 1rem;
    left: 1rem;
}

:is(.dark .Description-1 span),
:is(.dark .Description-2 span){
    background-color: rgba(51, 65, 85, 0.249);
    color: rgb(207, 126, 4);
}

.Description-2 p{
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}

/*
.portfolio-title{
    font-size: 1.5rem;
    font-weight: 600;
}
.languages{
    margin-block: 1rem;
    color: gold;
}

.Description-1{
    position: relative;
    overflow: hidden;
    max-height: 5rem;
    padding-bottom: 1.5rem;
    font-size: 1.1rem;
    color: rgb(148, 163, 184);
}
.Description-2{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-bottom: 2.5rem;
    color: rgb(193, 209, 232);
    background-color: rgb(51, 65, 85);
    animation: .3s read-more-des forwards;
}
*/

/*
@media screen and (max-width: 576px) {
    .button-group{
        margin-top: .5rem;
    }
}


.button-group{
    width: 100%;
    padding: .5rem 2rem;
    display: flex;
    justify-content: center;
    gap: 1rem;
}
.port-btn{
    flex-basis: 50%;
    border-radius: .5rem;
    padding-inline: 1rem;
    line-height: 2rem;
    padding-bottom: .3rem;
    font-size: 1.2rem;
    font-weight: 600;
    border: 2px solid;
    transition: .3s;
}

.port-btn.btn-1{
    background-color: rgb(181, 163, 32);
    color: rgb(30, 30, 40);
    border-color: transparent;
}
.port-btn.btn-2{
    border-color: rgba(226, 201, 13, 0.3);
    color: rgb(148, 163, 184);
}
.port-btn.btn-1:hover{
    background-color: transparent;
    color: rgb(192, 207, 241);
    border-color: rgb(181, 163, 32);
}
.port-btn.btn-2:hover{
    border-color: rgb(181, 163, 32);
    color: rgb(230, 237, 255);
}
//////////////////////////////
.button-group{
    background-color: rgba(0, 255, 255, 0.0);
    display: flex;
    justify-content: space-between;
    align-items: end;
    flex-grow: 1;
}
.port-btn{
    font-size: 1.2rem;
}

.port-btn.btn-1{
    color: rgb(6, 185, 0);
}
.port-btn.btn-2{
    color: rgb(163, 185, 172);
}
.port-btn.btn-1:hover{
    transition: .3s;
    color: rgb(9, 255, 0);
    
}
.port-btn.btn-2:hover{
    transition: .3s;
    color: rgb(155, 196, 171);
}
*/