
.Description-1{
    @apply relative overflow-hidden max-h-20 pb-6 text-lg text-gray-600 dark:text-slate-400
}

.Description-2{
    @apply absolute top-0 left-0 w-full h-full p-4 pb-10 bg-gray-200 dark:bg-slate-700 dark:text-slate-400 ;
    animation: .3s read-more-des forwards;

}

@keyframes read-more-des {
    from{
        height: 0;
        transform: translateY(-3rem);
    }
    to{
        transform: translateY(0);
        height: 100%;
    }
}
.Description-1 span,
.Description-2 span{
    background-color: #e5e8eb3f;
    color: rgb(212, 5, 5);
    position: absolute;
    backdrop-filter: blur(2px);
    padding-inline: .5rem;
    font-size: .9rem;
    cursor: pointer;
}
.Description-1 span{
    bottom: -.25rem;
    left: 0;
}
.Description-2 span{
    bottom: 1rem;
    left: 1rem;
}

:is(.dark .Description-1 span),
:is(.dark .Description-2 span){
    background-color: rgba(51, 65, 85, 0.249);
    color: rgb(207, 126, 4);
}

.Description-2 p{
    height: 100%;
    overflow-y: auto;
    scrollbar-width: none;
}