@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "iran-sans";
  src: url('./assets/irsans.ttf');
}
@font-face {
  font-family: "Amiri";
  src: url('./assets/Amiri-Regular.ttf');
}
@font-face {
  font-family: "NotoSans";
  src: url('./assets/Fonts/NotoSansArabict.ttf');
}


@layer base{
  html{
    font-family:  "NotoSans" , Cochin , serif, sans-serif;
    scrollbar-width: none;
  }
  
  body{
    @apply dark:bg-slate-800 dark:text-slate-50 bg-gray-400 overflow-hidden
  }
  h1{
    @apply text-4xl font-semibold pb-4 md:text-2xl dark:text-white ;
  }
  .scrollbar-none{
    scrollbar-width: none;
  }
  .main{
    @apply flex-grow w-full h-full overflow-y-auto scrollbar-none lg:px-5
  }
}
